.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}
th,
td {
  border: 0.5px solid;
}
#addButton {
  margin-left: 10px;
}
table {
  width: 100%;
  margin: 10px 0;
}
td {
  width: 100%;
  min-width: 150px;
  padding-right: 10px;
  vertical-align: center;
}
.tdType,
.tdIcon {
  min-width: 0;
}
select {
  width: 100%;
  padding-right: 10px;
  text-align-last: center;
}
input {
  width: 100%;
  box-sizing: border-box;
}
