.App-header {
  background-color: #282c34;
  height: 500px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

.ApplicationBar {
  font-size: 20px;
  background-color: #55717F;
  color: white;
  padding: 10px;
}

.configBarIcon {
  cursor: pointer;
}

.ActionBar {
  font-size: 20px;
  background-color: #293B51;
  color: white;
  padding: 10px;
  user-select: none;
}

.ConfigBar {
  float: left;
  width: 40px;
  height: 600px;
  background-color: #E4842B;
}

th,
td {
  border: 0.5px solid;
}

#saveButton,
#addButton {
  margin: 0 10px 0 0;
  float: right;
  color: white;
}

#removeButton {
  color: grey;
}

table {
  width: 100%;
  margin: 10px 0;
}

td {
  width: 100%;
  min-width: 150px;
  padding-right: 10px;
  vertical-align: center;
}

.tdType,
.tdIcon {
  min-width: 0;
}

select {
  width: 100%;
  padding-right: 10px;
  text-align-last: center;

}

#configFile {
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
  background: grey;
}

input {
  width: 100%;
  box-sizing: border-box;
}